<template>
  <v-col cols="12">
    <v-row no-gutters v-if="datas != null ? datas.length != 0 || datas : false">
      <v-col
        cols="12"
        v-if="avg == null || min == null || max == null"
        class="d-flex pb-5 justify-space-between"
      >
        <v-btn @click="backButton()">Back</v-btn>
        <v-btn @click="nextButton()">Next</v-btn>
      </v-col>
      <v-col class="mb-5" v-for="item in datas" :key="item.id" cols="3">
        <v-row no-gutters>
          <v-col cols="12">
            <img
              height="200px"
              width="150px"
              :src="
                item.volumeInfo.imageLinks != null
                  ? item.volumeInfo.imageLinks.thumbnail
                  : ''
              "
            />
          </v-col>
          <v-col cols="12">
            <span class="font-weight-bold">
              {{ item.volumeInfo.title.substring(0, 18) + "..." }}
            </span>
          </v-col>
          <v-col cols="12"> </v-col>
          <v-col cols="12">
            <v-row no-gutters>
              <span class="text-caption">
                {{ item.volumeInfo.printType }}
              </span>
            </v-row>
          </v-col>
        </v-row>
        <v-row no-gutters>
          <router-link
            class="no-style"
            :to="{ name: 'Info', params: { items: item } }"
          >
            <v-col cols="12" class="mt-3">
              <v-btn rounded color="orange" dark> view info </v-btn>
            </v-col>
          </router-link>
        </v-row>
      </v-col>
    </v-row>
    <v-row v-if="datas != null ? datas.length == 0 || !datas : false">
      <v-col cols="12"> NO DATA </v-col>
    </v-row>
  </v-col>
</template>

<script>
export default {
  name: "BookShelf",
  data() {
    return {
      datas: null,
      title: this.$route.params.title,
      avg: this.$route.params.avg,
      lang: this.$route.params.lang,
      min: this.$route.params.priceMin,
      max: this.$route.params.priceMax,
      print: this.$route.params.print,
      type: this.$route.params.type,
      pageMax: null,
      pageNow: 0,
    };
  },
  created() {
    this.prepareBook();
  },
  mounted() {},
  methods: {
    async prepareBook() {
      let filter = [];
      // Simple GET request using fetch
      await fetch(
        `https://www.googleapis.com/books/v1/volumes?q=${
          this.title != null ? this.title : "all"
        }${this.type != null ? `&filter=${this.type}` : ""}${
          this.lang != null ? `&langRestrict=${this.lang}` : ""
        }&maxResults=40&startIndex=${this.pageNow}${
          this.print != null ? `&printType=${this.print}` : ""
        }`
      )
        .then((response) => response.json())
        .then((data) => {
          if (this.avg || this.priceMin || this.priceMax) {
            if (this.avg) {
              data.items.forEach((element) => {
                if (element.volumeInfo.averageRating == this.avg) {
                  filter.push(element);
                } else if (
                  element.volumeInfo.averageRating == this.avg &&
                  element.saleInfo.retailPrice.amount >= this.min &&
                  element.saleInfo.amount <= this.max
                ) {
                  filter.push(element);
                }
              });
            }
            console.log(filter, "filltersss");
            this.datas = filter;
          } else {
            this.pageMax = Math.round(data.totalItems / 40);
            this.datas = data.items;
          }
        });
    },
    nextButton() {
      console.log(this.pageNow);
      if (this.pageNow < this.pageMax) {
        this.pageNow = this.pageNow + 1;
        this.prepareBook();
      }
    },
    backButton() {
      console.log(this.pageNow);
      if (this.pageNow > 0) {
        this.pageNow = this.pageNow - 1;
        this.prepareBook();
      }
    },
  },
};
</script>

<style scoped>
.no-style {
  text-decoration: none !important;
}
</style>
