<template>
  <v-col cols="12">
    <v-row no-gutters>
      <v-col cols="4">
        <img
          height="400px"
          width="100%"
          :src="book.volumeInfo.imageLinks.thumbnail"
        />
      </v-col>
      <v-col cols="8" class="pl-10">
        <span class="text-h6 font-weight-bold">{{
          book.volumeInfo.title
        }}</span>
        <v-row no-gutters>
          <v-col class="my-1" cols="2">ผู่เขียน : </v-col>
          <v-col class="my-1" cols="10">
            <span v-for="author in book.volumeInfo.authors" :key="author">
              {{ author }} <br />
            </span>
          </v-col>
          <v-col class="my-1" cols="2">สำนักพิมพ์: </v-col>
          <v-col class="my-1" cols="10">
            <span>
              {{ book.volumeInfo.publisher }}
            </span>
          </v-col>
          <v-col class="my-1" cols="3">วันวางจำหน่าย: </v-col>
          <v-col class="my-1" cols="9">
            <span>
              {{ book.volumeInfo.publishedDate }}
            </span>
          </v-col>
          <v-col class="my-1" cols="2">ประเภท: </v-col>
          <v-col class="my-1" cols="10">
            <span>
              {{ book.volumeInfo.printType }}
            </span>
          </v-col>
          <v-col cols="12" class="my-3">
            <v-btn
              rounded
              :href="book.volumeInfo.previewLink"
              color="orange"
              dark
            >
              Preview
            </v-btn>
            <v-btn
              @click="addFavoriteFunc()"
              class="mx-2"
              fab
              dark
              small
              color="pink"
            >
              <v-icon> mdi-heart </v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12"> รายละเอียด : {{ book.volumeInfo.title }} </v-col>
      <v-col cols="12">
        {{ book.volumeInfo.title }}
      </v-col>
      <v-col cols="12">
        {{ book.volumeInfo.description }}
      </v-col>
      <v-col v-for="item in books" :key="item.id" cols="12">
        <span>item.book</span>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
import { mapActions } from "vuex";
import { db } from "../db";

export default {
  data() {
    return {
      book: this.$route.params.items,
    };
  },
  name: "Info",
  mounted() {
    console.log(this.booked);
  },
  methods: {
    async addFavoriteFunc() {
      console.log("test");
      try {
        const id = await db.books.add({
          book: this.book,
        });
        this.addFavorite(this.books);
      } catch (error) {
        console.log("failed");
      }
    },
    ...mapActions({
      addFavorite: "favorite/addFavorite",
    }),
  },
};
</script>

<style scoped>
</style>
