<template>
  <v-app>
    <v-card class="overflow-hidden">
      <v-app-bar
        absolute
        color="teal lighten-3"
        dark
        hide-on-scroll
        scroll-target="#scrolling-techniques-4"
      >
        <router-link class="text-decoration-none" to="/">
          <v-icon>mdi-home</v-icon>
        </router-link>
        <v-spacer></v-spacer>
        <router-link class="text-decoration-none" to="/favorite">
          <v-icon>mdi-heart</v-icon>
        </router-link>
      </v-app-bar>
      <v-sheet id="scrolling-techniques-4" class="overflow-y-auto">
        <v-container style="height: 100%">
          <v-row class="my-15">
            <v-col cols="12">
              <v-expansion-panels>
                <v-expansion-panel>
                  <v-expansion-panel-header class="pb-0">
                    <v-row no-gutters>
                      <v-col cols="12">
                        <v-row no-gutters>
                          <v-col cols="11">
                            <v-text-field
                              label="Fill title"
                              v-model="inputTitle"
                              @click.stop="avoidExpand()"
                              outlined
                            >
                            </v-text-field>
                          </v-col>
                          <v-col cols="1">
                            <v-btn
                              class="mx-2"
                              fab
                              dark
                              small
                              color="blue"
                              @click.stop="renderSearch()"
                            >
                              <v-icon> mdi-magnify-plus-outline </v-icon>
                            </v-btn>
                          </v-col>
                          <v-col cols="12">
                            <v-row no-gutters>
                              <v-col cols="4">
                                <v-checkbox
                                  @click.stop="avoidExpand()"
                                  v-model="type"
                                  :label="`Free ebooks`"
                                  value="free-ebooks"
                                ></v-checkbox>
                              </v-col>

                              <v-col cols="4">
                                <v-checkbox
                                  @click.stop="avoidExpand()"
                                  v-model="type"
                                  :label="`Paid ebooks`"
                                  value="paid-ebooks"
                                ></v-checkbox>
                              </v-col>
                              <v-col cols="4">
                                <v-checkbox
                                  @click.stop="avoidExpand()"
                                  v-model="type"
                                  :label="`Ebooks`"
                                  value="ebooks"
                                >
                                </v-checkbox>
                              </v-col>
                            </v-row>
                          </v-col>
                        </v-row>
                      </v-col>
                      <v-col class="px-2" cols="4" v-if="avg">
                        <v-text-field
                          label="avg"
                          v-model="inputAvg"
                          @click.stop="avoidExpand()"
                          outlined
                        >
                        </v-text-field>
                      </v-col>
                      <v-col class="px-2" cols="4" v-if="lang">
                        <v-text-field
                          label="Fill language by ISO-639-1 suach as en, fr, th"
                          v-model="inputLang"
                          @click.stop="avoidExpand()"
                          outlined
                        ></v-text-field>
                      </v-col>
                      <v-col class="px-2" cols="4" v-if="print">
                        <v-select
                          :items="printType"
                          @click.stop="avoidExpand()"
                          v-model="inputPrint"
                          label="Print type"
                          dense
                          outlined
                        ></v-select>
                      </v-col>
                      <v-col class="px-2" cols="2" v-if="price">
                        <v-text-field
                          type="number"
                          label="min"
                          v-model="inputPriceMin"
                          @click.stop="avoidExpand()"
                          outlined
                        ></v-text-field>
                      </v-col>
                      <v-col class="px-2" cols="2" v-if="price">
                        <v-text-field
                          type="number"
                          label="max"
                          v-model="inputPriceMax"
                          @click.stop="avoidExpand()"
                          outlined
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-row no-gutters class="pb-3">
                      <v-col cols="12"> Advance setting </v-col>
                      <v-col cols="3">
                        <v-switch
                          v-model="avg"
                          label="average rating"
                          color="red"
                          hide-details
                        ></v-switch>
                      </v-col>
                      <v-col cols="3">
                        <v-switch
                          v-model="lang"
                          label="language"
                          color="red"
                          hide-details
                        ></v-switch>
                      </v-col>
                      <v-col cols="3">
                        <v-switch
                          v-model="price"
                          label="retail price range (in THB)"
                          color="red"
                          hide-details
                        >
                        </v-switch>
                      </v-col>
                      <v-col cols="3">
                        <v-switch
                          v-model="print"
                          label="print type"
                          color="red"
                          hide-details
                        ></v-switch>
                      </v-col>
                    </v-row>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-col>
            <router-view />
          </v-row>
        </v-container>
      </v-sheet>
    </v-card>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      printType: ["books", "all", "magazines"],
      inputTitle: null,
      inputAvg: null,
      inputLang: null,
      inputPriceMin: null,
      inputPriceMax: null,
      inputPrint: null,
      inputMain: null,
      avg: false,
      lang: false,
      price: false,
      print: false,
      type: "ebooks",
    };
  },
  methods: {
    avoidExpand() {},
    renderSearch() {
      this.$router
        .push({
          name: "avoid",
        })
        .then(() => {
          this.$router.push({
            name: "BookShelf",
            params: {
              title: this.inputTitle,
              avg: this.avg == true ? this.inputAvg : null,
              lang: this.lang == true ? this.inputLang : null,
              priceMin: this.price == true ? this.inputPriceMin : null,
              priceMax: this.price == true ? this.inputPriceMax : null,
              print: this.print == true ? this.inputPrint : null,
              type: this.type != null ? this.type : null,
            },
          });
        });
    },
  },
};
</script>
